<div class="col-md-3 sidebar-right">
  <div class="item-sidebar">
    <h2 id="title">Próximos Eventos</h2>
    <% @events.each do |event| %>
      <div class="event">
        <h2><%= event.title %></h2>
        <div class="event-meta">
          <p><i class="fa fa-calendar"></i> <%= event.date %></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
